html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:3em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(90deg, #fff 50%, #e00442 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    cursor: default;
    background-color:#f4ea4e;

}

.deck .card.match {
    cursor: default;
    background: #545658;
    font-size: 32px;
    transition: background 0.7s;

}

.hide-it{
    visibility:hidden;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the message screen
 */

.win{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:900px;
    z-index:999;
    background:rgba(55,55,55,0.7);
    text-align:center;
    display:none;
}

.win h1{
    padding-top:20%;
    font-size:5em;
    color: #fff;
}

.win button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.win button:hover{
    background-color:#ca1ed9;
    cursor:pointer;
}


/*
 * Styles for animations
 */

/* The animation code */
@keyframes example {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(10deg);}
}

/* The element to apply the animation to */
.ani {
   
    animation-name: example;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

