.game-controls{
    display:flex;
    justify-content: space-around;
}

.start, .pause, .reset{
    font-size:24px;
    color:white;
    background-color: #3962A4;
    width:249px;
    height: 61px;
    border-radius: 94px;
    font-weight: 700;
    display:flex;
    align-items:center;
    justify-content:center;
}


.start, .pause, .reset {
    cursor: pointer;
}

.start:hover, .pause:hover, .reset:hover {
   background-color: #ffcb05;
}